﻿<div class="admin-img-min">
    <label>
        <img src="@ViewBag.AddedImage.src_min" />
        <input type="checkbox" checked name="img_ids" value="@ViewBag.AddedImage.id" />
    </label>
</div>
<span id="img-flag"></span>
