﻿@{
    ViewBag.Title = "Сертификаты";
}
<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Сертификаты</h2>
    <p>@Html.ActionLink("Добавить сертификит", "CreateCertificate")</p>
    <p>@Html.ActionLink("Удалить изобажения с сервера", "DeleteImgs")</p>

    <h2>Список сертификатов</h2>
    <table class="table">
        <tr>

            <th>
                Название сертификатов
            </th>
            <th></th>
        </tr>

        @foreach (rupbes.Models.Certificates item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <button class="btn btn-default" onclick="del('@Url.Action("DeleteCertificate", "Admin", new { id = item.id })')">Удалить</button>
                    <button class="btn btn-default" onclick="edit('@Url.Action("EditCertificate","Admin", new { id = item.id })')">Изменить</button>
                </td>
            </tr>
        }

    </table>
</section>
@section scripts {
    <script type="text/javascript">
        function del(path) {
            if (confirm("Подтвердите удаление")) {
                location.href = path;
            }
            else {
            }
        };
        function edit(path) {
            location.href = path;
        }
    </script>
}
