﻿@model rupbes.Models.Certificates
@{
    ViewBag.Title = "Новый сертификат";
}


<section class="form-block">
    <h2>Добавить сертификат</h2>
    <div class="window-label">@Html.ActionLink("Назад в меню", "Certificates", "Admin")</div>
    @using (Html.BeginForm("AddCertificate", "Admin"))
    {
        
        
        <div class="window-label">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @placeholder = "Введите название сертификата на русском языке" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.name_bel, new { htmlAttributes = new { @placeholder = "Введите название сертификата на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.name_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            <label>Филиал</label>
            <select class="select" name="id_dep">
                @foreach (rupbes.Models.Departments deparment in ViewBag.Departments)
                {
                    <option value="@deparment.id">@deparment.short_name_ru</option>
                }
            </select>
        </div>

        <div class="window-label">
            <label>
                Прикрепить картинки к новости
            </label>
        </div>
        <div class="admin-upfile">
            <input type="file" name="upload" id="uploadFile">
            <button id="clickbutton" class="upfile-btn">Загрузить файл</button>
        </div>
        
        <div class="admin-imgs">
            @foreach (rupbes.Models.Imgs img in ViewBag.Imgs)
            {
                <div class="admin-img-min">
                    <label><img src="@img.src_min" /><input type="checkbox" name="img_ids" value="@img.id" /></label>

                </div>

            }
            <span id="img-flag"></span>
        </div>
        <div class="window-label">
            <input type="submit" value="Добавить" />
        </div>


    }
</section>


@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $('#clickbutton').on('click', function (event) {
        event.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadAjax","Admin")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#img-flag').replaceWith(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Ваш браузер не поддерживает Html5!");
            }
        }
    });

    </script>
}






