﻿@model rupbes.Models.Departments

@{
    ViewBag.Title = "Изменить описание предприятия";
}


<section class="form-block">
    <h2>Изменить описание предприятия</h2>
    <div class="window-label">@Html.ActionLink("Назад в меню", "Departments", "Admin")</div>
    @using (Html.BeginForm("EditDepartment", "Admin"))
    {

        <input type="hidden" name="id" value="@Model.id" />

        <div class="window-label">
            @Html.EditorFor(model => model.name_ru, new { htmlAttributes = new { @placeholder = "Имя на русском языке" } })
            @Html.ValidationMessageFor(model => model.name_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.name_bel, new { htmlAttributes = new { @placeholder = "Имя на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.name_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.short_name_ru, new { htmlAttributes = new { @placeholder = "Короткое название на русском языке" } })
            @Html.ValidationMessageFor(model => model.short_name_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.short_name_bel, new { htmlAttributes = new { @placeholder = "Короткое название на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.short_name_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.adress_ru, new { htmlAttributes = new { @placeholder = "Адрес на русском языке" } })
            @Html.ValidationMessageFor(model => model.adress_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.adress_bel, new { htmlAttributes = new { @placeholder = "Адрес на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.adress_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.desc_ru, new { htmlAttributes = new { @placeholder = "Описание на русском языке" } })
            @Html.ValidationMessageFor(model => model.desc_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.desc_bel, new { htmlAttributes = new { @placeholder = "Описание на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.desc_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.main_text_ru, new { htmlAttributes = new { @placeholder = "Текст на главную страницу на русском языке" } })
            @Html.ValidationMessageFor(model => model.main_text_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.main_text_bel, new { htmlAttributes = new { @placeholder = "Текст на главную страницу на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.main_text_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.link, new { htmlAttributes = new { @placeholder = "Ссылка на сайт" } })
            @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
        </div>


        <div class="window-label">
            <label>
                Прикрепить картинку к предприятию
            </label>
        </div>
        <div class="admin-upfile">
            <input type="file" name="upload" id="uploadFile">
            <button id="clickbutton" class="upfile-btn">Загрузить файл</button>
        </div>

        <div class="admin-imgs">
            @foreach (rupbes.Models.Imgs img in ViewBag.Imgs)
            {
                <div class="admin-img-min">
                    <label><img src="@img.src_min" /><input type="radio" name="id_img" value="@img.id" @(Model.id_img == img.id ? "checked=\"checked\"" : "") /></label>

                </div>

            }
            <span id="img-flag"></span>
        </div>
        <div class="window-label">
            <input type="submit" value="Изменить" />
        </div>


    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $('#clickbutton').on('click', function (event) {
        event.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadAjax","Admin")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#img-flag').replaceWith(result);
                    },
                    error: function (xhr, status, p3) {
                        alert("Слишком большой файл");
                    }
                });
            } else {
                alert("Ваш браузер не поддерживает Html5!");
            }
        }
    });

    </script>
}








