﻿
@{
    ViewBag.Title = "Услуги";
}

<section class="admin-content">
    @Html.ActionLink("Назад", "Services")
    <h2>Услуги @ViewBag.Dep.short_name_ru</h2>
    <p>@Html.ActionLink("Добавить услугу", "AddService", new { id = ViewBag.Dep.id }, null)</p>
    <p>@Html.ActionLink("Удалить изобажения с сервера", "DeleteImgs")</p>

    <h2>Список услуг</h2>
    <table class="table">
        @foreach (rupbes.Models.Services service in ViewBag.Services)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => service.title)
                </td>
                <td>
                    <button class="btn btn-default" onclick="del('@Url.Action("DeleteService", "Admin", new { id = service.id })')">Удалить</button>
                    <button class="btn btn-default" onclick="edit('@Url.Action("EditService","Admin", new { id = service.id })')">Изменить</button>
                </td>
            </tr>
        }

    </table>
</section>
@section scripts {
    <script type="text/javascript">
        function del(path) {
            if (confirm("Подтвердите удаление")) {
                location.href = path;
            }
            else {
            }
        };
        function edit(path) {
            location.href = path;
        }
    </script>
}