﻿@model rupbes.Models.News
@{
    ViewBag.Title = "Изменить новость";
}
<section class="form-block">
    <h2>Изменить новость</h2>
    <div class="window-label">@Html.ActionLink("Назад в меню", "News", "Admin")</div>
    @using (Html.BeginForm("EditNews", "Admin"))
    {
        <input type="hidden" value="@Model.id" name="id" />
        <div class="window-label">
            <span>Тип новости :</span>
            <select name="type_id">
                @foreach (rupbes.Models.News_type type in ViewBag.Types)
                {
                    <option value="@type.id" @(Model.type_id==type.id ? "selected" : "")>@type.type</option>
                }
            </select>
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.title_ru, new { htmlAttributes = new { @placeholder = "Заголовок новости на русском языке" } })
            @Html.ValidationMessageFor(model => model.title_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.title_bel, new { htmlAttributes = new { @placeholder = "Заголовок новости на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.title_bel, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.body_ru, new { htmlAttributes = new { @placeholder = "Текст новости на русском языке" } })
            @Html.ValidationMessageFor(model => model.body_ru, "", new { @class = "text-danger" })
        </div>
        <div class="window-label">
            @Html.EditorFor(model => model.body_bel, new { htmlAttributes = new { @placeholder = "Текст новости на беларусском языке" } })
            @Html.ValidationMessageFor(model => model.body_bel, "", new { @class = "text-danger" })
        </div>


        <div class="window-label">
            <label>
                Прикрепить картинки к новости
            </label>
        </div>
        <div class="admin-upfile">
            <input type="file" name="upload" id="uploadFile">
            <button id="clickbutton" class="upfile-btn">Загрузить файл</button>
        </div>

        <div class="admin-imgs">
            @foreach (rupbes.Models.Imgs img in ViewBag.Imgs)
            {
                <div class="admin-img-min">
                    <label><img src="@img.src_min" /><input type="checkbox" name="img_ids" value="@img.id" @(Model.Imgs.Contains(img) ? "checked=\"checked\"":"")/></label>

                </div>

            }
            <span id="img-flag"></span>
        </div>
        <div class="window-label">
            <input type="submit" value="Изменить" />
        </div>


    }
</section>


@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $('#clickbutton').on('click', function (event) {
        event.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadAjax","Admin")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#img-flag').replaceWith(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Ваш браузер не поддерживает Html5!");
            }
        }
    });

    </script>
}







