﻿@{
    ViewBag.Title = "Админка";
}
<section class="admin-content">
    @Html.ActionLink("Выйти", "Logoff","Admin")
    <br />
    <h2>Управление сайтом</h2>
    @if (ViewBag.provider.IsUserInRole(User.Identity.Name, "admin"))
    {
        @Html.ActionLink("Вакансии", "Vacancies", "Admin")
        <br />
        @Html.ActionLink("Новости", "News", "Admin")
        <br />
        @Html.ActionLink("Объекты", "Objects", "Admin")
        <br />
        @Html.ActionLink("Сертификаты", "Certificates", "Admin");
        <br />
        @Html.ActionLink("Руководство", "Bosses", "Admin");
        <br />
        @Html.ActionLink("Аренда", "Realty", "Admin")
        <br />
        @Html.ActionLink("Техника", "Mechs", "Admin")
        <br />
        @Html.ActionLink("Услуги", "Services", "Admin")
        <br />
        @Html.ActionLink("Предприятия", "Departments", "Admin")
        <br />
        @Html.ActionLink("Отчет", "UsageReport", "Admin")
        <br />
        @Html.ActionLink("HashGeneration", "HashGenPage", "Admin")
        <br />
        //@Html.ActionLink("Сотрудники", "AllEmployees", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "news"))
    {
        @Html.ActionLink("Новости", "News", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name,"ok_master"))
    {
        @Html.ActionLink("Вакансии", "Vacancies", "Admin")
        <br />
        @Html.ActionLink("Руководство", "Bosses", "Admin");
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "obj"))
    {
        @Html.ActionLink("Объекты","Objects","Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "ok"))
    {
        @Html.ActionLink("Вакансии", "AllVacancies", "Admin")
        <br />
        @Html.ActionLink("Руководство", "AllBosses", "Admin");
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "realty_master"))
    {
        @Html.ActionLink("Аренда", "Realty", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "realty"))
    {
        @Html.ActionLink("Аренда", "AllRealty", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "mech_master"))
    {
        @Html.ActionLink("Техника", "Mechs", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "mech"))
    {
        @Html.ActionLink("Техника", "AllMechs", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "service_master"))
    {
        @Html.ActionLink("Услуги", "Services", "Admin")
    }
    else if (ViewBag.provider.IsUserInRole(User.Identity.Name, "service"))
    {
        @Html.ActionLink("Услуги", "AllServices", "Admin")
    }
</section>
