﻿@{
    ViewBag.Title = "Новости";
}


<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Новости</h2>
    <p>@Html.ActionLink("Добавить новость", "CreateNews")</p>
    <p>@Html.ActionLink("Удалить изобажения с сервера", "DeleteImgs")</p>

    <h2>Список новостей</h2>
    <table class="table">
        <tr>

            <th>
                Заголовки новостей
            </th>
            <th></th>
        </tr>

        @foreach (rupbes.Models.News item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.title_ru)
                </td>
                <td>
                    <button class="btn btn-default" onclick="del('@Url.Action("DeleteNews", "Admin", new { id = item.id })')">Удалить</button>
                    <button class="btn btn-default" onclick="edit('@Url.Action("EditNews","Admin", new { id = item.id })')">Изменить</button>
               </td>
            </tr>
        }

    </table>
</section>
@section scripts {
    <script type="text/javascript">
        function del(path) {
            if (confirm("Подтвердите удаление")) {
                location.href = path;
            }
            else {
            }
        };
        function edit(path) {
            location.href = path;
        }
    </script>
}
