﻿
@{
    ViewBag.Title = "Отчет";
}
<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Отчет</h2>
    @Html.ActionLink("Вакансии", "VacanciesReport")
    <br />
    @Html.ActionLink("Картинки", "ImgsReport")
    <br />
    @Html.ActionLink("Руководители", "BossesReport")
    <br />
    @Html.ActionLink("Новости", "NewsReport")
    <br />
    @Html.ActionLink("Объекты", "ObjectsReport")
    <br />
    @Html.ActionLink("Сертификаты", "CertificatesReport")
    <br />
    @Html.ActionLink("Аренда", "RealtyReport")
    <br />
    @Html.ActionLink("Техника", "MechsReport")
    <br />
    @Html.ActionLink("Услуги", "ServicesReport")
</section>
