﻿@using ModelsLibrary.Models.OT;
@model ModelsLibrary.Models.OT.Commission


<div>
    <label>Председатель комиссии: </label>
    <label>
        @foreach (MemberOfCommission member in Model.MemberOfCommissions)
        {
            if(member.post_commission == 3)
            {
        <label>@member.Employee.Person.last_name @member.Employee.Person.first_name @member.Employee.Person.father_name</label>
            }
        }

    </label>
</div>

<div>
    <label>Заместитель председателя комиссии: </label>
    <label>
        @foreach (MemberOfCommission member in Model.MemberOfCommissions)
        {
            if (member.post_commission == 4)
            {
                <label>@member.Employee.Person.last_name @member.Employee.Person.first_name @member.Employee.Person.father_name</label>
            }
        }

    </label>
</div>

<div>
    <label>Члены комиссии:</label><br />

    <label>
        @foreach (MemberOfCommission member in Model.MemberOfCommissions)
        {
            if (member.post_commission == 5)
            {
                <label>@member.Employee.Person.last_name @member.Employee.Person.first_name @member.Employee.Person.father_name</label><br />
            }
        }

    </label>

</div>
