﻿@model AllServices.Models.OTManagement.ViewSetCommissionForCheckKnowledge

@{
    ViewData["Title"] = "Создание комиссии";
}
<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row lol1">
        <div id="searchBlock" class="edit-block lol2">
            <form asp-action="NewCommissionPartial" asp-controller="OTManagement" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                <div class="form-group">
                    <label class="control-label">Найти сотрудника </label>
                    <input type="text" id="searchText" name="searchText" onkeyup="searchEmployee(this.id);" onfocus="setSize();" onblur="clearSearch();" autocomplete="off" class="form-control" />
                    <div id="result" class="dropdown-input"></div>
                    <input type="submit" id="send" class="hide" />
                </div>
            </form>
        </div>
        <div class="edit-block lol2">
            <form method="post" asp-action="AddCommissionForCheckKnowledge" asp-controller="OTManagement" enctype="multipart/form-data">
                <div id="parentId">
                    <div class="form-group">
                        <label asp-for="NumCommand" class="control-label"></label>
                        <input type="text" asp-for="NumCommand" onblur="clearMessage(this.id);" class="form-control" />
                        <span asp-validation-for="NumCommand" class="text-danger"></span>
                        <span id="errorMessageNumCommand"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" asp-for="Date" onblur="clearMessage(this.id);" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <span id="errorMessageDate"></span>
                        <span>@ViewBag.Error</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Члены комиссии</label>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Председатель</label><br />
                        <label id="idPer[0]" class="control-label"></label>
                        <input type="hidden" asp-for="MembersOfCommission[0]" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Заместитель председателя</label><br />
                        <label id="idPer[1]" class="control-label"></label>
                        <input type="hidden" asp-for="MembersOfCommission[1]" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <a onclick="return addField()" href="#">Добавить члена комиссии</a>
                </div>

                <div class="form-group">
                    <label class="control-label">Приказ</label>
                    <input type="file" id="file" name="file" class="form-control" />
                    <label for="Upload" class="control-label"><span>Прикрепить файл</span></label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Сохранить" onclick="return changeField();" />
                </div>
            </form>
        </div>
    </div>
</div>




<script type="text/javascript">

    var countOfFields = 2; // Текущее число полей
    var curFieldNameId = 1; // Уникальное значение для атрибута name
    var maxFieldLimit = 10; // Максимальное число возможных полей
    var numMemberOfCommission = 0; // Текущий номер добавляемого члена комиссии

    function removeField(a) {
        // Получаем доступ к ДИВу, содержащему поле
        var contDiv = a.parentNode;
        // Удаляем этот ДИВ из DOM-дерева
        contDiv.parentNode.removeChild(contDiv);
        // Уменьшаем значение текущего числа полей
        countOfFields--;
        // Возвращаем false, чтобы не было перехода по сслыке
        return false;
    }
    function addField() {
        // Проверяем, не достигло ли число полей максимума
        if (countOfFields >= maxFieldLimit) {
            alert("Число полей достигло своего максимума = " + maxFieldLimit);
            return false;
        }
        // Увеличиваем текущее значение числа полей
        countOfFields++;
        // Увеличиваем ID
        curFieldNameId++;
        // Создаем элемент ДИВ
        var div = document.createElement("div");
        // Добавляем HTML-контент с пом. свойства innerHTML
        div.innerHTML = "<br /><label>Член комиссии</label> <a onclick='return removeField(this)' href='#'>Удалить</a> <br />" +
            "<label for='MembersOfCommission_" + curFieldNameId + "_'></label>" +
            "<label id='idPer[" + numMemberOfCommission + "]'></label>"+
            "<input type='hidden' id='MembersOfCommission_" + curFieldNameId + "_' name='MembersOfCommission[" + curFieldNameId + "]' data-val='true'  data-val-required='Заполните поле' value='' />";



        // Добавляем новый узел в конец списка полей
        document.getElementById("parentId").appendChild(div);
        // Возвращаем false, чтобы не было перехода по сслыке
        return false;
    }

    function changeField() {

        var $dataNumCommand = document.getElementById("NumCommand").value;
        var $dataDate = document.getElementById("Date").value;
        var $messageText = "";

        if ($dataNumCommand === "") {
            $messageText = "Введите номер приказа!";
            document.getElementById("errorMessageNumCommand").innerHTML = $messageText;
            return false;
        }

        if ($dataDate === "") {
            $messageText = "Выберите дату приказа!";
            document.getElementById("errorMessageDate").innerHTML = $messageText
            return false;
        }

        for (var i = 0; i <= curFieldNameId; i++) {
            var $dataInputName = document.getElementById("MemberOfCommissions_" + i + "__name").value;
           
            var $message = "";

            if ($dataInputName === "") {
                $message = "Не выбран член комиссии!";
                document.getElementById("MessMemberOfCommissions_" + i + "__name").innerHTML = $message;
                return false;
            }

        }

    }

    function clearMessage(id) {
        var $errorMessageName = document.getElementById(id).value;

        if (id === "NumCommand") {
            var $dataNumCommand = document.getElementById(id).value;
            if ($dataNumCommand !== "") {
                document.getElementById("errorMessageNumCommand").innerHTML = "";
            }
        }

        if (id === "Date") {
            var $dataDate = document.getElementById(id).value;
            if ($dataDate !== "") {
                document.getElementById("errorMessageDate").innerHTML = "";
            }
        }

        if ($errorMessageName !== "") {
            document.getElementById("Mess" + id).innerHTML = "";
        }

    }

    function searchEmployee(id) {

    var text = String(document.getElementById(id).value);

        if (text.length > 1) {
            document.getElementById("send").click();
        }
        else {
            document.getElementById('result').innerHTML = "";
        }
    }

    function addToForm(id) {
        document.getElementById("idPer[" + numMemberOfCommission +"]").innerText = document.getElementById(id).innerText;
        document.getElementById("MembersOfCommission_" + numMemberOfCommission + "_").value = id;
        numMemberOfCommission++;
    }

    function setSize() {
        document.getElementById('result').style.width = document.getElementById('searchText').offsetWidth + 'px';
        document.getElementById('result').style.maxHeight = document.getElementById('searchBlock').offsetHeight - 120 + 'px';
    }
    function clearSearch() {
        if (document.getElementById('result').focused == false) {
            document.getElementById('result').innerHTML = "";
            document.getElementById('searchText').value = '';
        }
    }
</script>