﻿@model AllServices.Models.OTManagement.ModelCommissionCommand
@{
    ViewData["Title"] = "Перечень комиссий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <a asp-action="AddCommissionForCheckKnowledge" asp-controller="OTManagement">Создать комиссию</a>

<form class="FormReviews" id="form" asp-action="CommissionList" asp-controller="OTManagement" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">

    <label asp-for="NumAndDateCommand"></label><select class="ViewBag" asp-for="IdCommand" asp-items="ViewBag.selectList"></select>

    <input class="button-viewbag" type="submit" value="Показать членов комиссии" />


</form>

<div id="result">

</div>

