﻿
@{
    ViewData["Title"] = "Администрирование";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <div class="form-group">
                <a asp-controller="UserManagement" asp-action="Index">Управление пользователями</a>
            </div>
            <div class=" form-group">
                <a asp-controller="RolesManagement" asp-action="Index">Управление ролями</a>
            </div>
            <div class=" form-group">
                <a asp-controller="WebsitesManagement" asp-action="Index">Управление сайтами</a>
            </div>
        </div>
    </div>
</div>