﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/jquery-maskedinput/jquery.maskedinput.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="full-screen">
        <div class="top-screen">
            <header class="header">
                <div class="start-header">
                    <div class="header-item">
                        <a href="/"></a>
                    </div>
                </div>
                <div class="end-header">
                    @if (User.IsInRole("admin"))
                    {
                        <div class="header-item">
                            <a href="~/Admin">Администрирование</a>
                        </div>
                    }
                    @if (User.IsInRole("manager"))
                    {
                        <div class="header-item">
                            <a href="~/ApplicationManagement">Управление ПО</a>
                        </div>
                    }

                    @await Html.PartialAsync("_LoginPartial")

                </div>
            </header>
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>

        <footer class="footer-1lvl">
            <div class="contacts">
                <div class="phone-link">
                    <span><a href="tel:+375-(17)-284-99-55">+375-17-284-99-55</a></span>
                </div>
                <div class="email-link">
                    <span><a href="mailto:sisia@rupbes.by">sisia@rupbes.by</a></span>
                </div>
            </div>
        </footer>
    </div>
    <footer class="footer-2lvl">
        <div class="copyright">
            <span>© РУП "БЕЛЭНЕРГОСТРОЙ" СЛУЖБА ИНФОРМАЦИОННЫХ СИСТЕМ И АНАЛИЗА - @System.DateTime.Now.Year</span>
        </div>
    </footer>

</body>
</html>
