﻿@using Microsoft.AspNetCore.Identity
@using AllServices.Areas.Identity.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
        <div class="header-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </div>
        <div class="header-item" id="logout">
            <button type="submit" class="logout-button">Выйти</button>
        </div>
    </form>
}
else
{
    <div class="header-item">
        <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </div>
    <div class="header-item">
        <a asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </div>
}
