﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<div class="concat-block">
    <h2 class="h2">Список ролей</h2>
    <hr />
    <div class="table-block">
        <div class="table-line">
            <div class="table-item">Роль</div>
            <div class="table-item">Действия</div>
        </div>
        @foreach (IdentityRole item in Model)
        {
            <div class="table-line">
                <div class="table-item">@item.Name</div>
                <div class="table-item">
                    <a asp-action="DeleteRole" asp-controller="RolesManagement" asp-route-id="@item.Id" onclick="return confirmDelete();">Удалить</a>
                </div>
            </div>
        }
    </div>
</div>

