﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@model AllServices.Models.RolesManagement.AllRolesModel
@{
    ViewData["Title"] = "Управление ролями";
}

@await Html.PartialAsync("_allRoles", Model.Roles)

<div class="concat-block">
    <br />
    <div class="row">
        <div class="edit-block">
            <form asp-action="CreateRole" asp-controller="RolesManagement" asp-antiforgery="true" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" value=""  class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="buttons-panel">
                    <div class="buttons-panel-item">
                        <input type="submit" value="Создать" class="btn-1 btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}