﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: sans-serif;
    min-height: calc(100vh - 2rem);
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/allservices.jpg');
    background-repeat: no-repeat;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-left: 30px;
    margin-right: 30px;
}

.midle-upload {
    height: 100%;
    max-height: 34px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.end-header {
    display: flex;
}
.start-header {
    display: flex;
}

.header {
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: #DCDCDC;
    box-shadow: 0px 3px 10px 0px #000;
    border-bottom: 5px solid #2A2A2A;
    justify-content: space-between;
    z-index: 10;
}

.start-header > .header-item:first-child > a {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/home.svg);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.header-item#logout {
    padding: 0 0px;
}

.logout-button {
    background-color: #DCDCDC;
    border: none;
    padding: 0 15px;
}

.logout-button:hover {
    background-color: #B4B4B4;
}

.header-item > a, .header-item > button, .header-item > a:hover {
    width: 100%;
    display: flex;
    height: 50px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    align-items: center;
}

.header-item:hover {
    background-color: #B4B4B4;
}

.header-item {
    padding: 0 15px;
    float: left;
}

.full-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.top-screen {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /*align-items: center;*/
}

/*footer*/
.footer-1lvl {
    width: 100%;
    border-top: 5px solid #2A2A2A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100px;
    background-color: #DCDCDC;
    -webkit-box-shadow: 3px 0px 10px 0px #000;
    box-shadow: 3px 0px 10px 0px #000;
    z-index: 10;
}

.contacts {
    margin-left: 20px;
}

.contacts span::before {
    content: " ";
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.contacts span {
    display: flex;
    align-items: center;
    margin: 1px 0px;
}

/*footer*/
.footer-2lvl {
    font-family: sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    background-color: #DCDCDC;
}

.copyright {
    color: #000;
}

.phone-link > span::before {
    background-image: url(../images/telephone.svg);
}

.email-link > span::before {
    background-image: url(../images/email.svg); 
}

.link-block {
    margin-top: 20px;
    margin-left: 30px;
}

.link {
    color: #000;
    font-size: 20px;
}

.link:hover {
    color: #000;
}

.link:visited {
    color: #000;
}

h2.h2 {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 34px;
    text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
}

.mb-zero {
    margin-bottom: 0px;
}

.mt-15 {
    margin-top: 15px;
}

.color-info {
    color: black;
    display: block;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
}

label {
    color: black;
    font-size: 16px;
}

.warning-message {
    font-size: 16px;
    font-weight: bold;
}

.warning-message > hr {
    border-color: white;
    margin: 10px 0px;
}

span#unn-error, span#name-error, .text-danger {
    color: #8B0000;
    font-size: 16px;
}

.message-font {
    font-size: 16px;
}

.edit-block {
    display: block;
    border-collapse: collapse;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.lol1 {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
}

.lol2 {
    display: block !important;
    width: 100%;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.concat-block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


input[type="text"], input[type="file"], input[type="password"], input[type="email"], input[type="date"], .select {
    height: 34px;
    border: 1px solid #2e354e;
    padding: 6px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-1 {
    border: 1px solid #2e354e;
    padding: 6px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s linear;
}

.btn-1:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*таблица*/
.table-block {
    display: table;
    border-collapse: collapse;
    max-width: 1720px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #000;
}

.table-line {
    display: table-row;
}

.table-line:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*закраска каждой второй строки в таблице*/
.table-line:nth-child(2n+1) {
    -background-color: #fff; /*#658EA2*/
}
.table-line:nth-child(2n) {
    -background-color: #fff; /*#4C7589*/
}

.table-line:first-child .table-item {
    text-transform: uppercase;
    border-bottom: 4px solid #000;
    background-color: #991037;
    font-weight: 600;
    color: #fff;
}
.table-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    border: 2px solid #991037;
    padding: 5px;
    color: #000;
    font-size: 15px;
}

a {
    font-size: 16px;
    color: #226CB0;
    text-decoration: none;
}

a:hover {
    color: #B40431;
    text-decoration: underline;

}

.button-add {
    display: flex;
    height: 40px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: width 0.3s ease-in-out;
}

.button-add > a:hover {
    border-color: #059E26;
    color: #059E26;
}

.button-add > a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #226CB0;
    border-radius: 5px;
}

.buttons-panel-item {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

.buttons-panel-item:last-child {
    padding-right: 0px;
}

.buttons-panel-item > a {
    text-decoration: none;
    font-size: 14px;
}

.button-link {
    position: fixed;
    bottom: 120px;
    left: 20px;
    width: 280px;
    background-color: #2e354e;
    border: 2px solid #ba5600;
    border-radius: 2px;
    height: 44px;
    z-index: 50;
}

.hide-block {
    display: none;
}

input {
    line-height: unset !important;
}

.to-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dropdown-list:before {
    content: attr(data-before);
    font-size: 16px;
    vertical-align: 10%;
}

.dropdown-list {
    cursor: pointer;
    font-size: 21px;
}

.search-people {
    color: black;
    cursor: pointer;
    font: normal 12px sans-serif;
    width: 100%;
}

.search-people:hover {
    background-color: Highlight;
    color: #fff;
}

.dropdown-input {
    position: absolute;
    background-color: #fff;
    border: 1px solid #2e354e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    overflow-y: auto;
    max-height: 400px;
}

@media screen and (min-width: 240px) and (max-width: 700px) {
    .header {
        position: relative;
        width: 100%;
        min-height: 50px;
        display: flex;
        background-color: #DCDCDC;
        box-shadow: 0px 3px 10px 0px #000;
        border-bottom: 5px solid #2A2A2A;
        flex-direction: column;
        z-index: 10;
    }
    .header-item {
        width: 100%;
        align-items: center;
    }
    #logoutForm {
        width: 100%;
    }
}
/*Алеся*/
.button-directory {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    transition: 1.5s;
    color: black;
    font: bold 25px arial;
}

.button-directory:hover {
    background-color: grey;
}

.button-directory > a {
    color: black;
    font: bold 25px arial;
    text-decoration: none;
}

.directoryes-block {
    display: none;
    border-collapse: collapse;
}

.directory-item {
    position: relative;
    top: 10px;
    left: 19px;
    background-color: gainsboro;
    box-shadow: 2px 2px 8px 0px #000;
    padding: 10px;
    height: 45px;
    border: 1px solid black;
    width: 350px;
    /* float: left;*/
}

.directory-item > a {
    text-decoration: none;
}

.directory-item:hover {
    background-color: white;
}

/*форма выбора отзывов определенного предприятия*/
.FormReviews {
    display: block;
    border-collapse: collapse;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*кнопка сохранить отзывы*/
.button-reviews {
    display: flex;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ViewBag {
    font-size: 18px;
}
/*кнопка показать отзывы*/
.button-viewbag {
    margin-left: 10px;
    font-size: 18px;
}

video {
    width: 15%;
    margin: 10px;
}
/*Обучение*/
.trainingTB {
    margin-left: 10px;
    font-size: 18px;
}
