﻿@model rupbes.Models.DatabaseBes.PurchasesViewModel

@{
    ViewBag.Title = Resources.Resource.MenuPurchases;
}
<h2 class="headline">@Resources.Resource.MenuPurchases</h2>

@{
    if (Model.PurchasesList.Count > 0)
    {
        <section class="purchases-content">

            <h2 class="h3">@Resources.Resource.MenuPurchases</h2>

            <div class="meet-block">
                <div class="meet-line">
                    <div class="meet-item">@Resources.Resource.PurchaseDate</div>
                    <div class="meet-item">@Resources.Resource.PurchaseContent</div>
                    <div class="meet-item">@Resources.Resource.PurchaseType</div>
                    <div class="meet-item">@Resources.Resource.PurchaseOrganizer</div>
                    <div class="meet-item">@Resources.Resource.PurchaseTT</div>
                </div>
                @foreach (var item in Model.PurchasesList)
                {
                    <div class="meet-line">
                        <div class="meet-item">@Html.DisplayFor(modelItem => item.DateReg)</div>
                        <div class="meet-item">@Html.DisplayFor(modelItem => item.Content)</div>
                        <div class="meet-item">@Html.DisplayFor(modelItem => item.Type.Type)</div>
                        <div class="meet-item">@Html.DisplayFor(modelItem => item.Organizer.Abbreviation)</div>
                        <div class="meet-item green-link"><a href="@item.TTLink.Split(new string[] {"wwwroot"}, StringSplitOptions.None)[1]">@Resources.Resource.PurchaseDownload</a></div>
                    </div>
                }
            </div>
            <div class="pages">
                <div class="npPage page-items">
                    @if (Model.PurchasesList.HasPreviousPage)
                    {
                        @Html.ActionLink("<", "Purchases", new { page1 = Model.PurchasesList.PageIndex - 1, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex })
                    }
                    else
                    {
                        @Html.ActionLink("<", "Purchases", new { page1 = Model.PurchasesList.PageIndex - 1, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex }, new { @class = "disabled" })
                    }
                </div>
                <div class="page-items">
                    @Resources.Resource.PurchasePage @Model.PurchasesList.PageIndex / @Model.PurchasesList.TotalPages
                </div>
                <div class="npPage page-items">
                    @if (Model.PurchasesList.HasNextPage)
                    {
                        @Html.ActionLink(">", "Purchases", new { page1 = Model.PurchasesList.PageIndex + 1, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex })
                    }
                    else
                    {
                        @Html.ActionLink(">", "Purchases", new { page1 = Model.PurchasesList.PageIndex + 1, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex }, new { @class = "disabled" })
                    }
                </div>
            </div>
        </section>
    }
}
@{
    if (Model.BidsList.Count > 0)
    {
        <h2 id="bidsPages" class="h3">Биржевая заявка(<a class="green-link" href="~/Content/Files/биржеваязаявка.xls">@Resources.Resource.PurchaseDownload</a>)</h2>
        <section class="purchases-content scroll-y">
            <div id="conteiner" class="meet-block margin-center">
                <div class="meet-line">
                    <div class="meet-item">Наименование товара</div>
                    <div class="meet-item">Стандарт</div>
                    <div class="meet-item">Марка</div>
                    <div class="meet-item">Типоразмер</div>
                    <div class="meet-item">Количество/ объем</div>
                    <div class="meet-item">Стоимость с учетом НДС, BYN</div>
                    <div class="meet-item">Срок поставки</div>
                    <div class="meet-item">Условия поставки</div>
                    <div class="meet-item">Условия оплаты</div>
                    <div class="meet-item">Направление заявки</div>
                    <div class="meet-item">Дополнительная информация</div>
                    <div class="meet-item">Структурное подразделение</div>
                </div>
                @foreach (var bid in Model.BidsList)
                {
                    <div class="meet-line">
                        <div class="meet-item">@bid.NameOfProduct</div>
                        <div class="meet-item">@bid.Standart</div>
                        <div class="meet-item">@bid.Mark</div>
                        <div class="meet-item">@bid.StandartSize</div>
                        <div class="meet-item">@bid.Amount @bid.Units</div>
                        <div class="meet-item">@bid.Sum</div>
                        <div class="meet-item">@bid.DeliveryTime</div>
                        <div class="meet-item">@bid.DeliveryConditions</div>
                        <div class="meet-item">@bid.PayConditions</div>
                        <div class="meet-item">@bid.Buy</div>
                        <div class="meet-item">@bid.AdditionalInf</div>
                        <div class="meet-item">@bid.StructSubdivision</div>
                    </div>
                }
            </div>

            <div class="pages">
                <div class="npPage page-items">
                    @if (Model.BidsList.HasPreviousPage)
                    {
                        <a href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex - 1})#bidsPages">@Html.Raw("<")</a>
                    }
                    else
                    {
                        <a class="disabled" href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex - 1})#bidsPages">@Html.Raw("<")</a>
                    }
                </div>
                <div class="page-items">
                    @Resources.Resource.PurchasePage @Model.BidsList.PageIndex / @Model.BidsList.TotalPages
                </div>
                <div class="npPage page-items">
                    @if (Model.BidsList.HasNextPage)
                    {
                        <a href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex + 1})#bidsPages">@Html.Raw(">")</a>
                    }
                    else
                    {
                        <a class="disabled" href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex, page3 = Model.BidsList.PageIndex + 1})#bidsPages">@Html.Raw(">")</a>
                    }
                </div>
            </div>
        </section>
    }
}
@{
    if (Model.TendersList.Count > 0)
    {
        <section class="purchases-content">

            <h2 class="h3" id="tendersPages">@Resources.Resource.Tenders</h2>

            <div class="meet-block">
                <div class="meet-line">
                    <div class="meet-item">@Resources.Resource.TenderNumber</div>
                    <div class="meet-item">@Resources.Resource.TenderFinishDate</div>
                    <div class="meet-item">@Resources.Resource.TenderLink</div>
                    <div class="meet-item">@Resources.Resource.TenderContacts</div>
                </div>
                @foreach (var tender in Model.TendersList)
                {
                    <div class="meet-line">
                        <div class="meet-item">@tender.icetrade_id</div>
                        <div class="meet-item">@tender.date</div>
                        <div class="meet-item"><a href="@tender.icetrade_link" class="dep-link">@tender.description</a></div>
                        <div class="meet-item">@tender.contacts</div>
                    </div>
                }
            </div>
            <div class="pages">
                <div class="npPage page-items">
                    @if (Model.TendersList.HasPreviousPage)
                    {
                        <a href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex - 1, page3 = Model.BidsList.PageIndex})#tendersPages">@Html.Raw("<")</a>
                    }
                    else
                    {
                        <a class="disabled" href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex - 1, page3 = Model.BidsList.PageIndex})#tendersPages">@Html.Raw("<")</a>
                    }
                </div>
                <div class="page-items">
                    @Resources.Resource.PurchasePage @Model.TendersList.PageIndex / @Model.TendersList.TotalPages
                </div>
                <div class="npPage page-items">
                    @if (Model.TendersList.HasNextPage)
                    {
                        <a href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex + 1, page3 = Model.BidsList.PageIndex})#tendersPages">@Html.Raw(">")</a>
                    }
                    else
                    {
                        <a class="disabled" href="@Url.Action("Purchases", "Purchases", new { page1 = Model.PurchasesList.PageIndex, page2 = Model.TendersList.PageIndex + 1, page3 = Model.BidsList.PageIndex})#tendersPages">@Html.Raw(">")</a>
                    }
                </div>
            </div>
        </section>
    }
}