﻿@using Microsoft.AspNetCore.Identity
@using AllServices.Areas.Identity.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Сервисы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="link-block">
        <a class="link" asp-controller="CheckOrganization" asp-action="Index" title="Реестр коммерческих организаций и индивидуальных предпринимателей
    с повышенным риском совершения правонарушений в экономической сфере" target="_blank">Юр. лица с повышенным риском в экономической сфере</a>
    </div>

    <div class="link-block">
        <a class="link" asp-controller="OT" asp-action="Index">Техника Безопасности</a>
    </div>
}