﻿@using ModelsLibrary.Models;
@model List<ModelsLibrary.Models.Person>

@for (int i = 0; i < Model.Count; i++)
{
    string text = String.Format("{0} {1} {2} - {3}", Model[i].last_name,Model[i].first_name, Model[i].father_name, Model[i].Employee.SpecialtyEmployee.name);

    <label for="@Model[i].code" id="@Model[i].code" onclick="addToForm(this.id);">@text</label><br />
}