﻿@model List<ModelsLibrary.Models.Examination>

@{
    ViewData["Title"] = "CheckExaminations";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="table-block">
        <div class="table-line">
            <div class="table-item">ФИО</div>
            <div class="table-item">Табельный №</div>
            <div class="table-item">Организация</div>
            <div class="table-item">Подразделение</div>
            <div class="table-item">Дата следующей проверки</div>
            <div class="table-item">Документ</div>
            <div class="table-item">Тип проверки</div>
            <div class="table-item">Примечания</div>
            <div class="table-item">Причина</div>
            <div class="table-item">Действия</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-line">
                <div class="table-item">@item.Employee.Person.last_name @item.Employee.Person.first_name @item.Employee.Person.father_name</div>
                <div class="table-item">@item.Employee.num_tab</div>
                <div class="table-item">@item.Employee.Department.Organization.abbreviation</div>
                <div class="table-item">@item.Employee.Department.name</div>
                <div class="table-item">@item.DateNextCheck.date.ToShortDateString()</div>

                <div class="table-item">
                    @Html.ActionLink("Изменить", "", new { id = item.code }) |
                    @Html.ActionLink("Удалить", "", new { id = item.code }, new { @class = "del", @onclick = "return confirmDelete();" })
                </div>
            </div>
        }
    </div>
    <div class="button-add" onmouseover="hover();" onmouseout="out();"><a id="add-link" href="AddExamination">Добавить</a></div>
    <a class="link" asp-controller="OT" asp-action="Reminder">Напомнить</a>
</div>

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
}
