﻿@{
    ViewData["Title"] = "Справочники";
}
    <div>
        <div class="button-directory" onclick="show();">Справочники</div>
        <div class="button-directory">
            <a href="/TrainingTB">Обучение</a>
        </div>

        @if (User.IsInRole("ot manager") || User.IsInRole("admin"))
        {
            <a class="link" asp-controller="OT" asp-action="NewExamination">Проверка знаний</a>
        }

    </div>

<div id="directoryes" class="directoryes-block">
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllGenders">Половая принадлежность</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllAbsenceReasons">Причины отсутствия</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllInstitutions">Учреждения образования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllMedRequirements">Медицинские требования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllEducationTypes">Образования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllEducationQualifications">Квалификация</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllExaminationReasons">Причина проверки знаний</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllRelationshipDegrees">Степень родства</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllTemplateForWorks">Шаблон приема на работу</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllHarms">Вредные и опасные условия труда</a>
    </div>
</div>