﻿@using ModelsLibrary.Models
@model AllServices.Models.OT.ViewModelAddExam

@{    
    ViewData["Title"] = "Проверка знаний";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="NewExaminationPartial" asp-controller="OT" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
        <label>Найти сотрудника </label>
        <input type="text" id="searchText" name="searchText" onkeyup="searchEmployee(this.id);" />
        <input type="submit" id="send" class="hide"/>
    </form>
<div id="result"></div>

        <form asp-action="NewExamination" asp-controller="OT" enctype="multipart/form-data">

            <div>
                <label asp-for="NumProtocol"></label>
                <label>@Model.NumProtocol</label>
                <input asp-for="NumProtocol" type="hidden" />
            </div>

            <div>
                <label asp-for="DateProtocol"></label>
                <input type="date" asp-for="DateProtocol" value="" />

            </div>

            <div>
                <label asp-for="Commission"></label>
                <select class="ViewBag" asp-for="@Model.Commission.code" asp-items="ViewBag.selectCommissions"></select>

            </div>


            <div id="person">
                <label asp-for="IdPerson"></label>
                <label id="idPer"></label>
                <input type="hidden" asp-for="IdPerson" />

            </div>


            <div>
                <label asp-for="Reason"></label>

                <select class="ViewBag" asp-for="@Model.Reason.code" asp-items="ViewBag.selectExaminationReasons"></select>

            </div>


            <div>
                <label asp-for="Result"></label>
                <select asp-for="Result">
                    <option value="true">Прошёл</option>
                    <option value="false" selected>Не прошёл</option>
                </select>

            </div>

            <div>
                <label asp-for="Notice"></label>
                <textarea asp-for="Notice"></textarea>

            </div>

            <div>

                <label for="Upload"><span>Прикрепить архив с документами</span></label>
                <input type="file" id="file" name="file" />

            </div>

            <div>
                <input type="submit" value="Сохранить" />
            </div>


        </form>


<script type="text/javascript">

    function searchEmployee(id) {

        var text = String(document.getElementById(id).value);

        if (text.length > 1) {
            document.getElementById("send").click();

        }
    }

    function addToForm(id) {
        document.getElementById("idPer").innerText = document.getElementById(id).innerText;
        document.getElementById("IdPerson").value = id;
    }


</script>