﻿
@{
    ViewBag.Title = Resources.Resource.Career;
}

<h2 class="headline">@Resources.Resource.Career</h2>
<section class="content">
    <p><b>Республиканское унитарное предприятие «БЕЛЭНЕРГОСТРОЙ»</b> — современная динамично развивающаяся компания. Мы выполняем все виды строительно-монтажных работ. Нам доверяют, и для нас это очень важно. РУП «Белэнергострой» рекомендуют своим партнёрам, а потому мы заинтересованы в том, чтобы у нас работали инициативные, целеустремлённые, энергичные, творческие люди, которые умеют идти к поставленной цели в команде, которые не боятся брать на себя ответственность, которые всегда готовы учиться новому. Если вы водитель автомобиля 5-6 разряда, слесарь, машинист крана ДЭК, штукатур 3-5 разряда, монтажник строительных конструкций 4-6 разряда, бетонщик от 4 разряда (все вакансии вы найдёте в специальном <a href="@Url.Action("Vacancies","Home")">разделе</a>), то приходите к нам! Наш коллектив – команда профессионалов, это наша самая главная ценность. Мы выполняем работы любой сложности, например, успешно реализуем проекты «под ключ». Мы ценим каждого нашего сотрудника, поэтому в работе предъявляем очень высокие требования в социальных и кадровых вопросах.</p>
    <a href="@Url.Action("Vacancies","Home")" class="job-inv">
        
    </a>
    <p>
        РУП «Белэнергострой» для раскрытия способностей каждого специалиста представляет очень много возможностей. Свои навыки и профессиональный опыт наши сотрудники применяют во всех сферах деятельности предприятия не только в Республике Беларусь, но и за рубежом. Например, наши специалисты получили уникальные опыт и знания при строительстве Белорусской АЭС в Островце. Мы будем очень рады принять в свою команду всех тех, кто вместе с нами будет дальше реализовывать наши самые смелые планы.
    </p>
    <p>
        Если вдруг Вы не нашли интересующую Вас вакансию, Вы также можете отправить своё резюме на нашу электронную почту - <a href="mailto:@Model.email">@Model.email</a> - с указанием вакансии, на которую претендуете. Мы обязательно рассмотрим Вашу анкету!
    </p>
</section>

