﻿
@{
    ViewBag.Title = Resources.Resource.MenuNews;
}

<h2 class="headline">@Resources.Resource.MenuNews</h2>



<section class="content">
    <div class="news-guide">
        <div class="big-link">
            @Html.ActionLink(Resources.Resource.MenuSocialNews, "SocialNews", "Home")
        </div>
        @foreach (rupbes.Models.News news in ViewBag.News)
        {
            <a href="#@news.id">@news.title_ru... @news.date.ToShortDateString()</a>
        }
    </div>
    @foreach (rupbes.Models.News news in ViewBag.News)
    {
        <p class="news-title" id="@news.id">@news.title_ru</p>
        <p class="news-date">@news.date.ToShortDateString()</p>
        if (news.Imgs.Count > 0)
        {
            <div class="news-imgs-block">
                <div class="news-imgs">
                    @foreach (rupbes.Models.Imgs img in news.Imgs)
                    {
                        <img src="@img.src" />
                    }
                </div>
                <div class="minus-slide"></div>
                <div class="plus-slide"></div>
                <div class="full-screen-btn"></div>
            </div>
        }



        <span class="news-body">@Html.Raw(news.body_ru)</span>
        <hr />
    }
</section>
