﻿
@{
    ViewData["Title"] = "Управление ПО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="link-block">
    @if (User.IsInRole("sites manager"))
    {
        <a class="link" asp-controller="WebsitesManagement" asp-action="Index">Сайты</a>
    }
</div>

<div class="link-block">
    @if (User.IsInRole("ot manager"))
    {
        <a class="link" asp-controller="OTManagement" asp-action="Index">Охрана труда</a>
    }
</div>