﻿﻿
@{
    ViewBag.Title = Resources.Resource.MenuWindow;
}

<h2 class="headline">@Resources.Resource.MenuWindow</h2>
<section class="one-window-main">
    <h3 class="h3"> Звярнуцца ў РУП «Белэнергабуд» можна адным з зручных для Вас спосабаў: </h3>
    <h4> Вы можаце скарыстацца адной з формаў электронных зваротаў </h4>

    <div class="flex-block">
    	<div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowPerson,"Person","OneWindow")</div>
    	<div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowLegal, "Legal", "OneWindow")</div> 
    </div>

    <h4> вуснай форме </h4>
    <p class="simple-p"> Калі Вы вырашылі звярнуцца ў вуснай форме, то Вам варта звярнуцца да кіраўніцтва РУП «Белэнергабуд» <a href="@Url.Action("Contacts","Home")/#private"> ва ўстаноўленыя дні і гадзіны на асабістым прыёме </a>, папярэдне запісаўшыся <a href="@Url.Action("Contacts","Home")"> па тэлефоне.</a> </p>
    <h4> Ў ПІСЬМОВАЙ ФОРМЕ </h4>
    <p class="simple-p"> Калі Вы вырашылі звярнуцца ў пісьмовай форме, то Вам варта накіраваць пісьмовы зварот, з указаннем усіх неабходных рэквізітаў на <a href="@Url.Action("Contacts","Home")"> наш адрас </a> </p>
    <h4> Усе звароты будуць разгледжаны ў адпаведнасці з дзеючым заканадаўствам Рэспублікі Беларусь. </h4>
    <ul class="simple-ul">
        <li> <a href="http://etalonline.by/?type=text&regnum=H11100300"> Закон Рэспублікі Беларусь ад 18 лiпеня 2011 г. № 300-З «Аб зваротах грамадзян і юрыдычных асобаў" </a> </li>
        <li> <a href="http://etalonline.by/?type=text&regnum=p30700498"> Указ Прэзідэнта Рэспублікі Беларусь ад 15 кастрычніка 2007 г. № 498 "Аб дадатковых мерах па працы са зваротамі грамадзян і юрыдычных асобаў" </a> </li>
        <li> <a href="http://etalonline.by/?type=text&regnum=p00600002"> Дырэктыва Прэзідэнта Рэспублікі Беларусь ад 27 снежня 2006 г. № 2 "Аб дэбюракратызацыі дзяржаўнага апарату і павышэнні якасці забеспячэння жыццядзейнасці насельніцтва» </a> </li>
        <li> <a href="http://pravo.by/document/?guid=3871&p0=C21200667"> Пастанова Савета Міністраў Рэспублікі Беларусь ад 23 ліпеня 2012 г. №667 "Аб некаторых пытаннях работы са зваротамі грамадзян і юрыдычных асоб »</a> </li>
    </ul>
    <p class="simple-p"> Калі Вы не згодныя з прынятым рашэннем, якасцю разгляду або паўнатой адказу на зварот, то Вам можна звярнуцца ў <a href="http://www.energo.by/content/odno-okno/"> вышэйстаячую арганізацыю . </a> </p>
</section>
