﻿@{
    ViewBag.Title = Resources.Resource.MenuWindow;
}

<h2 class="headline">@Resources.Resource.MenuWindow</h2>
<section class="one-window-main">
    <h3 class="h3">Обратиться в РУП «Белэнергострой» можно одним из удобных для Вас способов: </h3>
    <h4>Вы можете воспользоваться одной из форм электронных обращений</h4>

    <div class="flex-block">
    	<div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowPerson,"Person","OneWindow")</div>
    	<div class="one-window-link">@Html.ActionLink(Resources.Resource.OneWindowLegal, "Legal", "OneWindow")</div>    	
    </div>
    <h4>Устной форме</h4>
    <p class="simple-p">Если Вы решили обратиться в устной форме, то Вам следует обратиться к руководству РУП «Белэнергострой» <a href="@Url.Action("Contacts","Home")/#private">установленные дни и часы личного приёма</a>, предварительно записавшись <a href="@Url.Action("Contacts","Home")">по телефону</a></p>
    <h4>В ПИСЬМЕННОЙ ФОРМЕ</h4>
    <p class="simple-p">Если Вы решили обратиться в письменной форме, то Вам следует направить письменное обращение, с указанием всех необходимых реквизитов на <a href="@Url.Action("Contacts","Home")">наш адрес</a></p>
    <h4>Все обращения будут рассмотрены в соответствии с действующим законодательством Республики Беларусь. </h4>
    <ul class="simple-ul">
        <li><a href="http://etalonline.by/?type=text&regnum=H11100300">Закон Республики Беларусь от 18 июля 2011 г. № 300-З «Об обращениях граждан и юридических лиц»</a></li>
        <li><a href="http://etalonline.by/?type=text&regnum=p30700498">Указ Президента Республики Беларусь от 15 октября 2007 г. № 498 «О дополнительных мерах по работе с обращениями граждан и юридических лиц»</a></li>
        <li><a href="http://etalonline.by/?type=text&regnum=p00600002">Директива Президента Республики Беларусь от 27 декабря 2006 г. № 2 «О дебюрократизации государственного аппарата и повышении качества обеспечения жизнедеятельности населения»</a></li>
        <li><a href="http://pravo.by/document/?guid=3871&p0=C21200667">Постановление Совета Министров Республики Беларусь от 23 июля 2012 г. №667 «О некоторых вопросах работы с обращениями граждан и юридических лиц»</a></li>
    </ul>
    <p class="simple-p">Если Вы не согласны с принятым решением, качеством рассмотрения или полнотой ответа на обращение, то Вам можно обратиться в <a href="http://www.energo.by/content/odno-okno/">вышестоящую организацию.</a> </p>
</section>
