﻿@{
    ViewData["Title"] = "Обучение";
}
<div>   
    <div>
        <video src="~/Content/Films/OhranaTruda.mp4" controls preload="metadata" poster="~/images/OhranaTruda.jpg"></video>
    </div>
    <div>
        <span class="trainingTB">Охрана труда! Цена проишествий!</span>
    </div>
</div>
