﻿@using ModelsLibrary.Models.Besi_Price;
@model List<Besi_Price_List>

<div class="table-block">
    <div class="table-line">
        <div class="table-item">Код</div>
        <div class="table-item">Наименование</div>
        <div class="table-item">Единица измерения</div>
        <div class="table-item">Обьем</div>
        <div class="table-item">Вес</div>
        <div class="table-item">Цена</div>
        <div class="table-item">Цена с НДС</div>
    </div>

    @foreach (var item in Model)
    {
    <div class="table-line">
        <div class="table-item">@item.number</div>
        <div class="table-item">@item.name</div>
        <div class="table-item">@item.Besi_Unit.name</div>
        <div class="table-item">@item.volume</div>
        <div class="table-item">@item.weight</div>
        <div class="table-item">@item.Besi_Prices.Last().price</div>
        <div class="table-item">@item.Besi_Prices.Last().price_w_nds</div>
    </div>
    }
</div>