﻿@model ModelsLibrary.Models.RelationshipDegree

@{
    ViewData["Title"] = "Добавление степени родства";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form asp-action="AddRelationshipDegree" asp-controller="Directory" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" title="степень родства" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div id="result"></div>
                <div class="buttons-panel">
                    <div class="buttons-panel-item">
                        <input type="submit" value="Добавить" class="btn-1 btn-default" />
                    </div><!--
                    --><div class="buttons-panel-item">
                        <a href="@Url.Action("AllRelationshipDegrees", "Directory")"><input type="button" value="К списку степеней родства" class="btn-1 btn-default" /></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}