﻿@using ModelsLibrary.Models.Besi_Price
@model IEnumerable<ModelsLibrary.Models.Besi_Price.Besi_type_product>

@{
    ViewData["Title"] = "Прейскурант Белэнергостройиндустрия";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <form asp-action="AllBesiPrice" asp-controller="Directory" id="priceForm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
        @foreach (Besi_type_product type in Model)
        {
            <div style="display: block">
                <span id="@type.code" onclick="ShowProducts(this.id)" class="dropdown-list" data-before="►">@type.name</span>
                (@Html.ActionLink("Прикрепить фото", "EditPhotoBesi", new { id = type.doc_photo }))
                @if (type.Photo.link != null)
                {<a href="@type.Photo.link.Split("wwwroot", StringSplitOptions.None)[1]">(скачать)</a>}
                (@Html.ActionLink("Прикрепить чертежи", "EditPhotoBesi", new { id = type.doc_drawing }))
                @if (type.Drawing.link != null)
                {<a href="@type.Drawing.link.Split("wwwroot", StringSplitOptions.None)[1]">(скачать чертежи)</a>}
            </div>
            <div id="result-@type.code"></div>
        }
        <div class="edit-table-item hide">
            <input id="id" name="id" type="number" />
        </div>

        <div class="form-group hide">
            <input id="sub" type="submit" value="Добавить" class="btn-1 btn-default" />
        </div>
    </form>
</div>

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
}