﻿@model IEnumerable<ModelsLibrary.Models.Document>

@{
    ViewData["Title"] = "AllDocuments";
}

<h2>AllDocuments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number_document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number_document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.date)
            </td>
            @if (User.IsInRole("directory manager"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.code">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.code">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.code">Delete</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
