﻿@model IEnumerable<ModelsLibrary.Models.Employee>

@{
    ViewData["Title"] = "AllEmployees";
}

<h2>AllEmployees</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.num_tab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_sertificate_pens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_sertificate_insurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_p000007)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_p000011)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_p000008)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.num_tab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_sertificate_pens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_sertificate_insurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_p000008)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
