﻿@model IEnumerable<ModelsLibrary.Models.Gender>

@{
    ViewData["Title"] = "Справочник гендерной принадлежности";
}

    <div class="concat-block">
        <h2 class="h2">@ViewData["Title"]</h2>
        <hr />
        <div class="table-block">
            <div class="table-line">
                <div class="table-item">Пол</div>
                @if (User.IsInRole("directory manager"))
                {
                    <div class="table-item">Действия</div>
                }

            </div>
            @foreach (var item in Model)
            {
                <div class="table-line">
                    <div class="table-item">@item.name</div>
                    @if (User.IsInRole("directory manager"))
                    {
                        <div class="table-item">
                            @Html.ActionLink("Изменить", "EditGender", new { id = item.code }) |
                            @Html.ActionLink("Удалить", "DeleteGender", new { id = item.code }, new { @class = "del", @onclick = "return confirmDelete();" })
                        </div>
                    }

                </div>
            }
        </div>
        @if (User.IsInRole("directory manager"))
        {
            <div class="button-add"><a id="add-link" href="AddGender">Добавить</a></div>
        }

    </div>

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
}