﻿@model IEnumerable<ModelsLibrary.Models.Person>

@{
    ViewData["Title"] = "AllPersons";
}

<h2>AllPersons</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.father_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.father_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_birthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
