﻿@model ModelsLibrary.Models.MedRequirement

@{
    ViewData["Title"] = "Изменение мед. требования";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form asp-action="EditMedRequiremment" asp-route-id="@Model.code" data-ajax="true" data-ajax-method="POST" data-ajax-update="#result" data-ajax-mode="replace">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="edit-table-item hide">
                    <input asp-for="code" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" title="медицинское требование" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div id="result"></div>
                <div class="buttons-panel">
                    <div class="buttons-panel-item">
                        <input type="submit" value="Сохранить" class="btn-1 btn-default" />
                    </div><!--
                    --><div class="buttons-panel-item">
                        <a href="@Url.Action("AllMedRequirements", "Directory")"><input type="button" value="К списку мед. требований" class="btn-1 btn-default" /></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
