﻿@using Microsoft.AspNetCore.Identity
@using AllServices.Areas.Identity.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Справочники";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="button-directory" onclick="show();">
        <span>Справочники</span>
    </div>

<div id="directoryes" class="directoryes-block">
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllGenders">Половая принадлежность</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllAbsenceReasons">Причины отсутствия</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllInstitutions">Учреждения образования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllMedRequirements">Медицинские требования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllEducationTypes">Образования</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllEducationQualifications">Квалификация</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllExaminationReasons">Причина проверки знаний</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllRelationshipDegrees">Степень родства</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllTemplateForWorks">Шаблон приема на работу</a>
    </div>
    <div class="directory-item">
        <a class="link" asp-controller="Directory" asp-action="AllHarms">Вредные и опасные условия труда</a>
    </div>
</div>
}