﻿@{
    ViewData["Title"] = "Загрузка прейскуранта";
}

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form asp-controller="Directory" asp-action="UploadPriceList" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                <div class="form-group">
                    <label class="control-label">Документ</label>
                    <input type="file" id="Upload" name="file" class="hide inputfile midle-upload" />
                    <label for="Upload" class="form-control label-upload select"><span>Прикрепить файл</span></label>
                </div>
                <div class="form-group">
                    <label class="control-label">Дата документа</label>
                    <input type="date" name="date_doc" class="form-control" />
                </div>
                <div class="form-group" id="result"></div>
                <div class="form-group">
                    <input type="submit" value="Загрузить" class="btn btn-default" />
                    <a href="@Url.Action("AllBesiPrice", "Directory")"><input type="button" value="К прейскуранту" class="btn btn-default" /></a>
                </div>
            </form>
        </div>
    </div>
</div>