﻿@using Microsoft.AspNetCore.Identity
@using AllServices.Areas.Identity.Data.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ModelsLibrary.Models.OrganizationRisk
@{
    ViewData["Title"] = "Проверка организации";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="concat-block">
        <h2 class="h2">Проверка юр. лица на нахождение в зоне экономического риска</h2>
        <hr />
        <div class="row">
            <div class="edit-block">
                <form asp-controller="CheckOrganization" asp-action="Index" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                    <div class="form-group">
                        <label asp-for="unn" class="control-label"></label>
                        <input type="text" asp-for="unn" id="unn" class="form-control" autofocus />
                        <span id="unn-check" asp-validation-for="unn"></span>
                    </div>
                    <div class="form-group" id="result"></div>
                    <div class="form-group">
                        <input type="submit" value="Проверить" class="btn-1 btn-default" onclick="hideMessage()" />
                    </div>
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>
    </div>
}
    @section scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script type="text/javascript">

            function hideMessage() {
                var el = document.getElementById("unn-check");
                if (el.childNodes.length != 0)
                    document.getElementById("message").style.display = "none";
            }

            $(function () {
                $("#unn").mask("999999999");
            });

        </script>
    }