﻿@model AllServices.Models.CheckOrganization.MessageColor

<div id="message" class="warning-message">
    <hr />
    <span><font color="@Model.color">@Model.message</font></span>
    @if (ViewBag.OrgInfo != null)
    {
        <hr />
        <div>
            <span class="color-info">Наименование организации:</span>
            <span>@ViewBag.OrgInfo?.name</span>
        </div>
        <hr />
        <div>
            <span class="color-info">Дата внесения в реестр:</span>
            <span>@ViewBag.OrgInfo?.date_inclusion</span>
        </div>
        <hr />
        <div>
            <span class="color-info">Причина:</span>
            <span>@ViewBag.OrgInfo?.cause</span>
        </div>
    }
    <hr />
</div>