﻿@model AllServices.Models.WebsitesManagement.FilialModel

@if (Model.ReviewsModels.Count == 0)
{
    <h2 class="to-center">Отзывов нет!</h2>
}
else
{
    <form method="post" asp-action="ReviewPublish" asp-controller="WebsitesManagement">
        <div class="table-block">
            <div class="table-line">
                <div class="table-item">Наименование организации</div>
                <div class="table-item">Дата</div>
                <div class="table-item">Отзыв</div>
                <div class="table-item">Публиковать</div>
            </div>

            @for (int i = 0; i < Model.ReviewsModels.Count; i++)
            {
                <div class="table-line">
                    <div class="table-item">@Model.ReviewsModels[i].NameOrganization</div>
                    <div class="table-item">@Model.ReviewsModels[i].DateReview</div>
                    <div class="table-item">@Model.ReviewsModels[i].ReviewText</div>

                    <div class="table-item">
                        <input type="checkbox" asp-for="ReviewsModels[i].Confirm" checked="@Model.ReviewsModels[i].Confirm" />
                    </div>
                </div>
            }
        </div>
        <div class="button-reviews">
            <input type="submit" class="btn-1 btn-default" value="Сохранить" />
        </div>

    </form>
}
