﻿
@{
    ViewData["Title"] = "Управление сайтами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<div class="link-block">
    @if (User.IsInRole("review manager") || User.IsInRole("admin") )
    {
        <a class="link" asp-controller="WebsitesManagement" asp-action="Reviews">Отзывы</a>
    }
  
</div>
