﻿@model ModelsLibrary.Models.Organization
@{
    ViewData["Title"] = "Управление отзывами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="FormReviews" id="form" asp-action="ReviewList" asp-controller="WebsitesManagement" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">

    <select class="ViewBag" asp-for="code" asp-items="ViewBag.selectList"></select>

    <input class="button-viewbag" type="submit" value="Показать отзывы" />

   
</form>

<div id="result">
  
</div>          