﻿@model GrantUserModel
@{
    ViewData["Title"] = "Назначение ролей";
}

<div class="concat-block">
    <h2 class="h2">Управление доступом для @Model.User.Email</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form asp-action="GrantUser" asp-controller="UserManagement" asp-antiforgery="true" method="post">
                <input type="hidden" asp-for="@Model.User.Id" value="@Model.User.Id" />
                @for (int i = 0; i < Model.CheckedRoles.Count; i++)
                {
                    <div class="form-group mb-zero">
                        <label>@Model.CheckedRoles[i].Role.Name</label>
                        <input type="checkbox" asp-for="CheckedRoles[i].Checked" checked="@Model.CheckedRoles[i].Checked" />
                        <input type="hidden" asp-for="CheckedRoles[i].Role.Name" value="@Model.CheckedRoles[i].Role.Name" />
                    </div>
                }
                <div class="form-group mt-15">
                    <button type="submit" class="btn-1 btn-default">Применить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>