﻿@using AllServices.Areas.Identity.Data.Models
@model List<AppUser>
@{
    ViewData["Title"] = "Список пользователей";
}
<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="table-block">
        <div class="table-line">
            <div class="table-item">Имя</div>
            <div class="table-item">Фамилия</div>
            <div class="table-item">Отчество</div>
            <div class="table-item">Email</div>
            <div class="table-item">Ник</div>
            <div class="table-item">Действия</div>
        </div>
        @foreach (var user in Model)
        {
            <div class="table-line">
                <div class="table-item">@user.FirstName</div>
                <div class="table-item">@user.LastName</div>
                <div class="table-item">@user.Patronymic</div>
                <div class="table-item">@user.Email</div>
                <div class="table-item">@user.NickName</div>
                <div class="table-item">
                    @Html.ActionLink("Удалить", "RemoveUser", new { id = user.Id }, new { @class = "del", @onclick = "return confirmDelete();" }) |
                    @Html.ActionLink("Управление", "UserAdministration", new { id = user.Id })
                </div>
            </div>
        }
    </div>
</div>