﻿@model UserAdministrationViewModel
@{
    ViewData["Title"] = "Пользователь";
}

<div class="concat-block">
    <h2 class="h2">Управление пользователем @Model.Email</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form method="post" asp-action="ChangePassword" asp-controller="UserManagement">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">Новый пароль</label><br />
                    <input asp-for="NewPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
                <div class="form-group">
                    <a asp-action="GrantUser" asp-controller="UserManagement" asp-route-id="@Model.Id">Права доступа</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
