﻿@model Message

@{
    if (Model.message == "")
    {
        <script type="text/javascript">
            window.location = '@Url.Action(Model.action, Model.controller)';
        </script>
    }
    else
    {
        <span class="message-font"><font color="@Model.color">@Model.message</font></span>
    }
}