﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение Email";
}

<h2>@ViewData["Title"]</h2>
<div class="link">    
        Ваш адрес электронной почты успешно подтверждён!    
</div>
