﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль";
}

<div class="concat-block">
    <h2 class="h2">Сброс пароля</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-1 btn-default">Отправить</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
