﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Аккаунт заблокирован!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Этот аккаунт был заблокирован. Пожалуйста, попробуйте позже.</p>
</header>
