﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль изменён!";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль успешно изменён. Для входа в личный кабинет пройдите по ссылке <a asp-page="./Login">здесь</a>.
</p>
