﻿@{
    ViewBag.Title = Resources.Resource.MenuServices;
}
<h2 class="headline">@Resources.Resource.MenuServices</h2>
<section class="service-content">
    <a href="http://93.125.111.47:6565/" class="service-item">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ServiceSoftware</div>
    </a>
    <a href="@Url.Action("Products","Service")" class="service-item">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ServiceProduct</div>
    </a>
    <a href="@Url.Action("Services","Service")" class="service-item">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ServiceService</div>
    </a>
    <a href="@Url.Action("Mechs","Service")" class="service-item">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ServiceMech</div>
    </a>
    <a href="@Url.Action("Realty","Service")" class="service-item">
        <div class="service-item-logo"></div>
        <div class="service-item-text">@Resources.Resource.ServiceRealty</div>
    </a>
</section>

