﻿@using rupbes.Models.DatabaseBes
@model IEnumerable<rupbes.Models.DatabaseBes.Besi_type_product>

@{
    ViewData["Title"] = Resources.Resource.ServiceProduct;
}

<h2 class="headline">@ViewData["Title"]</h2>

<h2 class="h2-pointer" onclick="ShowBlock('materials');">Прейскурант на продукцию филиала "БЕЛЭНЕРГОСТРОЙИНДУСТРИЯ", с 10.02.2019</h2>

<div id="materials" class="construction-materials">
    <form asp-action="Products" asp-controller="Service" id="priceForm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
        @foreach (Besi_type_product type in Model)
        {
            <div>
                <span id="@type.Id" onclick="ShowProducts(this.id)" class="dropdown-list" data-before="►">@type.Name</span>
                <span class="green-link">
                    @if (type.Photo.Link != null)
                    {<a href="@type.Photo.Link.Split(new string[] { "wwwroot" }, StringSplitOptions.None)[1]">(скачать фото)</a>}
                </span>
                <span class="green-link">
                    @if (type.Drawing.Link != null)
                    {<a href="@type.Drawing.Link.Split(new string[] { "wwwroot" }, StringSplitOptions.None)[1]">(скачать чертежи)</a>}
                </span>

                <div id="result-@type.Id" class="product-list"></div>
            </div>
        }
        <div class="hide-block">
            <input id="id" name="id" type="number" />
        </div>

        <div class="form-group hide-block">
            <input id="sub" type="submit" />
        </div>
    </form>
</div>

<script>
    function ShowProducts(code) {
        if (document.getElementById(code).getAttribute('data-before') == '▼') {
            document.getElementById('result-' + code).innerHTML = '';
            document.getElementById(code).setAttribute('data-before', '►');
        }
        else {
            document.getElementById(code).setAttribute('data-before', '▼');
            document.getElementById('id').value = code;
            document.getElementById('priceForm').setAttribute('data-ajax-update', '#result-' + code);
            document.getElementById('sub').click();
        }
    }

    function ShowBlock(code) {
        if (document.getElementById(code).style.display == 'block') {
            document.getElementById(code).style.display = 'none';
        }
        else {
            document.getElementById(code).style.display = 'block';
        }
    }
</script>