﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122534416-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-122534416-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" id="vp" />
    <link href="~/Content/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon">
    <link href="~/Content/favicon.ico" rel="icon" runat="server" type="image/ico">
    <title>@ViewBag.Title – Белэнергострой</title>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <link href="~/Scripts/respond.js" type="text/javascript" />
    @if (Request.Cookies["theme"] != null && Request.Cookies["theme"].Value == "poorEyesight")
    {
        <link href="~/Content/Styles/pemain.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/Content/Styles/main.css" rel="stylesheet" />
    }
    <script>
        if (screen.width <= 480 && screen.width >= 460) {

            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.95");
        }
        else if (screen.width <= 460 && screen.width >= 440) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.91");
        }
        else if (screen.width <= 440 && screen.width >= 420) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.87");
        }
        else if (screen.width <= 420 && screen.width >= 400) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.83");
        }
        else if (screen.width <= 400 && screen.width >= 380) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.79");
        }
        else if (screen.width <= 380 && screen.width >= 360) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.75");
        }
        else if (screen.width <= 360 && screen.width >= 340) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.71");
        }
        else if (screen.width <= 340 && screen.width >= 300) {
            document.getElementById('vp').setAttribute("content", "width:480, initial-scale=0.66");
        }
        else {
            document.getElementById('vp').setAttribute("content", "width=device-width, initial-scale=1");
        }
    </script>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter49645366 = new Ya.Metrika2({
                        id: 49645366,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49645366" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <div class="full-screen">
        <div class="top-screen">
            <header class="header">
                <div class="main-menu-item">@Html.ActionLink(" ", "Index", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuCompany, "Company", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuServices, "Index", "Service")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuContacts, "Contacts", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuNews, "News", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuObj, "Objects", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuPurchases, "Purchases", "Purchases")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuVacancies, "Vacancies", "Home")</div>
                <div class="main-menu-item adap-item">@Html.ActionLink(Resources.Resource.MenuWindow, "Index", "OneWindow")</div>
                <div class="menu-btn open-menu" id="menu"></div>
                <select name="lang" id="lang-select" class="lang-select">
                    <option value="@Resources.Resource.ChoosedLang">@Resources.Resource.Lang</option>
                    <option value="@Resources.Resource.SecLangVal">@Resources.Resource.SecLang</option>
                </select>
                <div class="eye" id="theme-switch"></div>
            </header>
            @RenderBody()
        </div>
        <footer class="footer-1lvl">
            <div class="contacts-link">
                <div class="phone-link"><span><a href="tel:+375172934680">+375-(17)-293-46-80</a></span></div>
                <div class="fax-link"><span>+375-(17)-293-44-90</span></div>
                <div class="mail-link"><span><a href="mailto:rupbes@rupbes.by">rupbes@rupbes.by</a></span></div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/rupbes.by" class="fb-link"></a>
                <a href="https://twitter.com/rupbes_by" class="twitter-link"></a>
                <a href="https://www.instagram.com/belenergostroi/" class="inst-link"></a>
                <a href="https://www.youtube.com/channel/UCdWfWtEd_C8KwVQkF6lS8ww" class="youtube-link"></a>
            </div>
        </footer>
    </div>
    <footer class="footer-2lvl">
        <div class="adress-block"><span class="adress-text">@Resources.Resource.Requisites</span></div>
        <div class="outlink-block">
            <a href="http://president.gov.by/" class="outlink-item">
                <div class="outlink-icon gerb-icon"></div>
                <span class="outlink-text">@Resources.Resource.LinkPresident</span>
            </a>
            <a href="http://minenergo.gov.by/" class="outlink-item">
                <div class="outlink-icon gerb-icon"></div>
                <span class="outlink-text">@Resources.Resource.LinkMinenergo</span>
            </a>
            <a href="http://energo.by/" class="outlink-item">
                <div class="outlink-icon belenergo-icon"></div>
                <span class="outlink-text">@Resources.Resource.LinkBelenrgo</span>
            </a>
            <a href="http://pravo.by/" class="outlink-item">
                <div class="outlink-icon gerb-icon"></div>
                <span class="outlink-text">@Resources.Resource.LinkPravoby</span>
            </a>
        </div>
        <div class="copyright"><span>© @Resources.Resource.CompanyName - @System.DateTime.Now.Year</span> @Html.ActionLink("Для сотрудников", "Index", "Admin")</div>
    </footer>
    <button id="btn-up"></button>
    <div id="modal-block" class="modal">
        <span class="close" onclick="CloseModal()">&times;</span>
        <div class="modal-content" id="modal-content"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
    <script>
        var btnUp = document.getElementById('btn-up');
        btnUp.onclick = function () {
            $('body').animate({ 'scrollTop': 0 }, 200);
            $('html').animate({ 'scrollTop': 0 }, 200);
        };
        $(window).scroll(function () {
            if ($(window).scrollTop() > 660) {
                $('#btn-up').addClass('active');
            }
            else {
                $('#btn-up').removeClass('active');
            }
        });
    </script>
    <script type="text/javascript">
        var imgsBlocks = document.getElementsByClassName('news-imgs');
        var imgsIndxs = [];
        var plusSlideBlocks = document.getElementsByClassName('plus-slide');
        var minusSlideBlocks = document.getElementsByClassName('minus-slide');
        var fullScreenBlocks = document.getElementsByClassName('full-screen-btn');
        function initMass() {
            for (i = 0; i < imgsBlocks.length; i++) {
                imgsIndxs.push('0');
            }
        }
        initMass();
        function pageStart() {
            for (i = 0; i < imgsBlocks.length; i++) {
                for (j = 0; j < imgsBlocks[i].children.length; j++) {
                    imgsBlocks[i].children[j].style.opacity = "0";
                    imgsBlocks[i].children[j].style.zIndex = "0";
                }
                imgsBlocks[i].children[0].style.opacity = "1";
                imgsBlocks[i].children[0].style.zIndex = "1";
            }
            for (m = 0; m < minusSlideBlocks.length; m++) {
                minusSlideBlocks[m].setAttribute("onclick", "minusSlide(" + m + ")");
                plusSlideBlocks[m].setAttribute("onclick", "plusSlide(" + m + ")");
                fullScreenBlocks[m].setAttribute("onclick", "openModal(" + m + ")");
                if (imgsBlocks[m].children.length == 1) {
                    minusSlideBlocks[m].style.display = 'none';
                    plusSlideBlocks[m].style.display = 'none';
                }
            }
        }
        pageStart();
        function minusSlide(m) {
            if (imgsIndxs[m] <= 0) {
                imgsIndxs[m] = imgsBlocks[m].children.length - 1;
            }
            else {
                imgsIndxs[m]--;
            }
            for (i = 0; i < imgsBlocks[m].children.length; i++) {
                imgsBlocks[m].children[i].style.opacity = "0";
                imgsBlocks[m].children[i].style.zIndex = "0";
            }
            imgsBlocks[m].children[imgsIndxs[m]].style.opacity = "1";
            imgsBlocks[m].children[imgsIndxs[m]].style.zIndex = "1";
        }
        function plusSlide(m) {
            if (imgsIndxs[m] >= imgsBlocks[m].children.length - 1) {
                imgsIndxs[m] = 0;
            }
            else {
                imgsIndxs[m]++;
            }
            for (i = 0; i < imgsBlocks[m].children.length; i++) {
                imgsBlocks[m].children[i].style.opacity = "0";
                imgsBlocks[m].children[i].style.zIndex = "0";
            }
            imgsBlocks[m].children[imgsIndxs[m]].style.opacity = "1";
            imgsBlocks[m].children[imgsIndxs[m]].style.zIndex = "1";
        }
    </script>
    <script>
        var modalBlock = document.getElementById('modal-block');
        var imageBlock = document.getElementById('modal-content');
        var closeBtn = document.getElementById('close-btn');
        function openModal(i) {
            var domElems = document.getElementsByClassName('news-imgs-block')[i].cloneNode(true);
            imageBlock.appendChild(domElems);
            initMass();
            pageStart();
            var imgsCount = document.getElementsByClassName('news-imgs').length;
            modalBlock.style.display = 'block';
            addEventListener("keydown", SwithHandler);

        }
        function CloseModal() {
            imageBlock.innerHTML = '';
            modalBlock.style.display = 'none';
            removeEventListener("keydown", SwithHandler);
        }
        function SwithHandler(e) {
            let i = document.getElementsByClassName('news-imgs').length - 1;
            switch (e.keyCode) {
                case 37:
                    minusSlide(i);
                    break;
                case 39:
                    plusSlide(i);
                    break;
                case 27:
                    CloseModal();
                    break;
            }
        }
    </script>
    <script>
        var adapItem = document.getElementsByClassName('adap-item');
        var menuBtn = document.getElementById('menu');
        menuBtn.onclick = function () {
            if (menuBtn.className == 'menu-btn open-menu') {
                for (i = 0; i < adapItem.length; i++) {
                    adapItem[i].className = 'main-menu-item adap-item hidden';
                }
                menuBtn.className = 'menu-btn close-menu';
            }
            else if (menuBtn.className == 'menu-btn close-menu') {
                for (i = 0; i < adapItem.length; i++) {
                    adapItem[i].className = 'main-menu-item adap-item';
                }
                menuBtn.className = 'menu-btn open-menu';
            }
        };
    </script>
    <script>
        $('#lang-select').change(function (e) {
            e.preventDefault();
            var lang = $('#lang-select').val();
            var url = '@Url.Action("ChangeCulture", "Assist")';
            $.post(url, { 'lang': lang }, function () { location.reload(); });
        });
        $('#theme-switch').click(function (e) {
            e.preventDefault();
            var url = '@Url.Action("ChangeTheme", "Assist")';
            $.post(url, function () { location.reload(); });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102365763-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>