﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
    
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="concat-block">
    <h2 class="h2">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="edit-block">
            <form id="profile-form" method="post" name="form">
                <div asp-validation-summary="All" class="text-danger"></div>                
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" readonly />
                </div>
                <div class="form-group">
                     <label asp-for="Input.Email"></label>
                     @if (Model.IsEmailConfirmed)
                     {
                        <div class="input-group">
                            <input asp-for="Input.Email" title="Email подтверждён" class="form-control" readonly />
                            <span class="input-group-addon" aria-hidden="true" title="Email подтверждён"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                     }
                     else
                     {
                        <div class="form-group">
                            <input asp-for="Input.Email" title="Email не подтверждён" class="form-control" readonly />
                        </div>                       
                     }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="password">Изменение пароля</label>
                </div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword"></label>
                    <input type="password" asp-for="Input.OldPassword" class="form-control" onblur="changePassword(); clearMessage();" />
                    <span id="errorMessageOld"></span>
                    <partial name="_StatusMessage" for="OldPasswordMessage" />

                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input type="password" asp-for="Input.NewPassword" class="form-control" onblur="clearMessage(); clearMessage();" />
                    <span id="errorMessageNew"></span>
                    <partial name="_StatusMessage" for="NewPasswordMessage" />

                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmNewPassword"></label>
                    <input type="password" asp-for="Input.ConfirmNewPassword" class="form-control" onblur="clearMessage(); changePassword();" />
                    <span id="errorMessageConfirm"></span>
                </div>

                <button type="submit" class="btn-1 btn-default" onclick="return changePassword();">Сохранить</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            $("#Input_PhoneNumber").mask("+375(99) 999-9999");
        });

        function changePassword() {

            var $oldPass = document.getElementById("Input_OldPassword").value;               
            var $newPass = document.getElementById("Input_NewPassword").value;
            var $confirmNewPass = document.getElementById("Input_ConfirmNewPassword").value;

            var $message = "";

            if ($oldPass !== "" || $newPass !== "" || $confirmNewPass !== "") {
                if ($oldPass === "") {
                    $message = 'Не введён текущий пароль!';
                    var y = document.getElementById("errorMessageOld").innerHTML = $message;
                    return false;

                } else if ($newPass === "" || $confirmNewPass === "") {
                    if ($newPass === "") {
                        $message = "Не введён новый пароль!";
                        document.getElementById("errorMessageNew").innerHTML = $message;
                        return false;
                    }
                    if ($confirmNewPass === "") {
                        $message = "Подтвердите новый пароль!";
                        document.getElementById("errorMessageConfirm").innerHTML = $message;
                        return false;
                    }
                } else if ($newPass !== $confirmNewPass) {
                    $message = "Пароли не совпадают!";
                    document.getElementById("errorMessageConfirm").innerHTML = $message;
                    return false;
                }
                return true;
            } else {
                return true;
            }

        }

        function clearMessage() {

            var errorMessageOld = document.getElementById("Input_OldPassword").value
            var errorMessageNew = document.getElementById("Input_NewPassword").value;
            var errorMessageConfirm = document.getElementById("Input_ConfirmNewPassword").value;

            if (errorMessageOld !=="") {
                document.getElementById("errorMessageOld").innerHTML = "";
            }

            if (errorMessageNew !== "") {
                document.getElementById("errorMessageNew").innerHTML = "";
            }

            if (errorMessageConfirm !== "") {
                document.getElementById("errorMessageConfirm").innerHTML = "";
            }

            if (errorMessageOld === "" && errorMessageNew === "" && errorMessageConfirm !== "") {
                document.getElementById("errorMessageOld").innerHTML = "";
                document.getElementById("errorMessageNew").innerHTML = "";
                document.getElementById("errorMessageConfirm").innerHTML = "";
            }

        }
    </script>
}